/*Hoja de Estilos */


h1,h2,h3,h4,h5,h6{
	font-family:'Helvetica Neue';
}

body{
	margin:0;
	font-size:12pt;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo-margin a{
	margin-left:50px;
	margin-top:2px;
}

.no-padding{
	margin-left:0 !important;
	margin-right:0 !important;
}

.title-blanco{
	color:white;
}

.parrafo-presentacion{
	font-size:1.1rem;
	text-align:justify;
}


.no-margin{
	margin:0 auto;
}

.margin-habilidades{
	margin-top:3%;
}

.espacio-habilidades{
	margin-top:2%;
}

p span.habilidades-label{
	padding:4px;
	border-radius:3px;
	background:#37474F;
	color:white;
}
.separador{
	width:20%;
	margin-left:40%;
	border-bottom:3px dotted #FF9A30;
}

.parrafo-contacto{
	line-height:35px;
	margin-top:30%;
	color:white;
	font-size:35px;
	text-align:justify;
	font-weight:bold;
}

.parrafo-contacto::before{
	content:"<p>";
	font-style:italic;
	color:#FF9A30;
}

.parrafo-contacto::after{
	content:"</p>";
	font-style:italic;
	color:#FF9A30;
}

i.fa-facebook-square {
	color:white;
}

i.fa-facebook-square:hover{
	color:#FF9A30;

}

i.fa-facebook-square:focus{
	color:#FF9A30;
}

i.fa-twitter-square {
	color:white;
}

i.fa-twitter-square:hover{
	color:#FF9A30;
}

i.fa-twitter-square:focus{
	color:#FF9A30;
}

i.fa-linkedin-square {
	color:white;
}

i.fa-linkedin-square:hover{
	color:#FF9A30;

}

i.fa-linkedin-square:focus{
	color:#FF9A30;
}


.justify-align{
	text-align:justify;
}

p span.center-align{
	text-align:center;
}

.olvido{
	font-family:"Helvetica Neue";
	line-height:70px;
	font-size:35px;
	color:#37474F;

}

.margin-llamame{
	margin-top:-20px;
}
.lo-olvide{
	font-weight:bold;
	color:#37474F;
}

.card-content{
	background:#435862;
	color:white;
}

.card-content span{
	color:white;
}

p.ver-sitio a{
	color:#FF9A30;
}

p.ver-sitio a:hover{
	color:white;
}

.portafolio-margin-bottom{
	margin-bottom:80px;
}

footer{
	border-top:20px solid #039BE5;
}



